body{
    background: wheat;
}
.navbar{
    width: 99%;
    height: 150px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pro{
    width: 80px;
    height: 80px; 
    margin-right: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pro1{
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    background: whitesmoke;
}
.page{
    display: flex;
}
.pro1 img{
    width: 70px;
    height: 70px; 
    border-radius: 50%;
}
.news{

    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    padding-left: 30px;
    padding-right: 30px;
    width: 1200px;
}
.allnews{
    height: 80vh;
    border-radius: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.morebtn{
    border: 0;
    outline: 0;
    font-weight: 700;
    background-color: transparent;
    font-size: 24px;
}

.minews{
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.minews img{
    height: 200px;
    width: 300px;
}

span{
    padding-top: 30px;
    display: none;
}


.rightbar{
    background: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.leftbar{
    background: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.addnew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addnew input{
    height: 30px;
    border-radius: 15px;
    border: 0cap;
}
p{
    font-size: 22px;
}
h1{
    font-size: 40px;
}
h4{
    font-size: 25px;
}